<!DOCTYPE html>
<html>
<head>
    <title>Ваш заказ №{{ order.id }} принят</title>
</head>
<body>
    <h2>Ваш заказ №{{ order.id }} успешно оплачен!</h2>

    <p>Статус: {{ order.get_status_display }}</p>
    <p><strong>Дата создания:</strong> {{ order.created|date:"d.m.Y H:i" }}</p>
    <p><strong>Сумма заказа:</strong> {{ order.amount }} ₽</p>

    <h3>Состав заказа:</h3>
    <ul>
        {% for item in order.items.all %}
        <li>
            {{ item.product.name }}
            ({{ item.quantity }} × {{ item.price }} ₽)
        </li>
        {% endfor %}
    </ul>

    <h3>Данные доставки:</h3>
    <p><strong>Способ доставки:</strong> {{ order.get_delivery_method_display }}</p>
    <p><strong>Адрес:</strong>
        {{ order.shipping_address.city }},
        ул. {{ order.shipping_address.street }},
        д. {{ order.shipping_address.house }},
        кв. {{ order.shipping_address.flat }}
    </p>

    <p>Спасибо за покупку! Ваш заказ уже начали собирать.</p>
</body>
</html>