{% extends 'base.html' %}
{% block title %}
FAQ
{% endblock %}

{% block content %}
{% load static %}
<div class="page-heading">
    <div class="banner-heading">
        <img src="{% static 'img/headerbg.png' %}" alt="" class="img-reponsive">
        <div class="heading-content text-center">
            <div class="container container-42">
                <h1 class="page-title white">FAQ</h1>
                <ul class="breadcrumb white">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="faq-title text-center">Часто задаваемые вопросы</h2>
    <div class="faq js-faq">
        <!-- Оплата -->
        <div class="faq-content">
            <a href="" onClick="return false;" class="faq-quest">Оплата</a>
            <span class="plus js-plus-icon"></span>
            <div class="faq-answer">
                <p>Оплата осуществляется через <strong>ЮKassa</strong> по банковской карте или кошельку <strong>ЮMoney</strong> при заказе.</p>
                <p>Оплата доставки не входит в стоимость заказа и отдельно осуществляется клиентом в момент получения заказа. Отправка заказа осуществляется по тарифу СДЭК Посылка. Стоимость отправления можно рассчитать на странице оформления заказа.</p>
            </div>
        </div>
        <!-- Доставка -->
        <div class="faq-content">
            <a href="" onClick="return false;" class="faq-quest">Доставка</a>
            <span class="plus js-plus-icon"></span>
            <div class="faq-answer">
                <p>Доставка выполняется продавцами после подтверждения оплаты.</p>
                <p>После отправления продавец отправит номер посылки на указанную вами почту, также информация о состоянии заказа будет доступна в личном кабинете.</p>
                <p>Товары доставляются в пункты выдачи СДЭК или курьерской службой СДЭК (выбирается в момент заказа).</p>
                <p>Сроки доставки могут варьироваться в зависимости от товара, продавца и места заказа, но в большинстве случаев не привышают 4 дней.</p>
                <p>Оплата доставки не входит в стоимость заказа и отдельно осуществляется клиентом в момент получения заказа. Отправка заказа осуществляется по тарифу СДЭК Посылка. Стоимость отправления можно рассчитать на странице оформления заказа.</p>
            </div>
        </div>
        <!-- Возврат товара -->
        <div class="faq-content">
            <a href="" onClick="return false;" class="faq-quest">Возврат товара</a>
            <span class="plus js-plus-icon"></span>
            <div class="faq-answer">
                <p>Если товар не подошёл или имеет производственный брак, вы можете оформить возврат.</p>
                <p>Обратитесь к продавцу или в службу поддержки для уточнения условий возврата и обмена.</p>
            </div>
        </div>
        <!-- Начать торговать -->
        <div class="faq-content">
            <a href="" onClick="return false;" class="faq-quest">Начать продавать на AirsoftPlace</a>
            <span class="plus js-plus-icon"></span>
            <div class="faq-answer">
                <p>Регистрация магазина на AirsoftPlace доступна самозанятым, ИП и юрлицам. За регистрацию и начало работы на AirsoftPlace ничего платить не нужно. Для начала торговли создайте учетную запись на площадке и зарегистрируйте свой магазин в личном кабинете.</p>
                <p>После быстрой проверки на указанный Вами почтовый адрес придет письмо с офертой — договором между вами и AirsoftPlace. Можете сразу начинать работу на площадке. Вы автоматически примете оферту, когда совершите любое действие в личном кабинете.</p>
                <p>Все товары хранятся на собственных складах продавцов, продавец сам осуществляет отправку заказа посылкой компании СДЭК после получения уведомления. Продавец не оплачивает доставку, оплата доставки не входит в стоимость заказа и отдельно осуществляется клиентом в момент получения заказа.</p>
                <p>Помимо этого всем продавцам рекомендуется заключить договор со <strong>СДЭК</strong> для доступа к наиболее экономному тарифу <strong>Посылка</strong>.</p>
            </div>
        </div>
        <!-- Техническая поддержка -->
        <div class="faq-content">
            <a href="" onClick="return false;" class="faq-quest">Техническая поддержка</a>
            <span class="plus js-plus-icon"></span>
            <div class="faq-answer">
                <p>Если у вас возникли вопросы или проблемы с заказом, пожалуйста, свяжитесь с нашей <a href="{% url 'about:contacts' %}">службой поддержки.</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
